<h1>Número de tareas: {{numberTasks}}</h1>
<span>Título tarea: {{form.get('title')?.value}}</span>

<div *ngIf="form.get('title')?.invalid && (form.get('title')?.dirty || form.get('title')?.touched)">
  <small *ngIf="form.get('title')?.errors?.['required']">
    El título es requerido
  </small>
  <small *ngIf="form.get('title')?.errors?.['maxlength']">
    El título de la tarea no puede ser superior a 10 caracteres
  </small>
</div>

<form class="container-input" [formGroup]="form" (ngSubmit)="sendTaskTitle()">
  <input type="text"
         placeholder="Ingresar tarea"
         formControlName="title"/>
  <button type="submit" [disabled]="!form.valid">
    Ingresar tarea
  </button>
</form>
